/* Default Background/Body attributes */
body {
	background-color: #FFFFFF;
	text-align: center;
}

* {
	font-family: Arial;
}

hr {
	transition: margin 1000ms;
	margin: 2px auto 0;
	width: 300px;
}

ul {
	list-style: none;
	margin-top: 0;
	padding-top: 0;
	padding-left: 0;
}

table {
	display: inline-block;
	text-align: center;
	table-layout: fixed;
	border-spacing: 15px;
}

td {
	vertical-align: top;
}


/* Heading attributes */
#resume-header {
	text-align: center;
}

#myName {
	display: inline-block;
	margin: 100px auto 0; /* 100px from top, no margin below */
	width: auto;
}

#myName p {
	margin: 0 auto;
	font-size: 46px;
}

#header-info {
	margin: 0 auto;
	width: 500px;
}

#header-info p {
	cursor: pointer;
	cursor: hand;
	font-size: 20px;
	margin: 5px auto 0;
	display: inline-block;
	border-radius: 20%;
}

#contact-info {
	display: none;
	margin: 5px auto 0;
}

#contact-info p {
	font-size: 16px;
	display: inline-block;
}

#contact-info a {
	color: black;
	text-decoration: none;
	display: inline-block;
}

#project-info {
	display: none;
	padding-bottom: 5px;
	margin: 5px auto 0;
}

#project-info a {
	font-size: 17px;
	color: black;
	text-decoration: none;
	display: inline-block;
}

/* Resume Content attributes */
#resume {
	transition: margin 1000ms;
	margin: 0px auto 0;
}

.resume-section {
	margin: 0 auto;
	width: 500px;
}

.resume-section p {
	cursor: pointer;
	cursor: hand;
	font-size: 26px;
	margin: 5px auto 0;
	width: 500px;
	display: inline-block;
}

.resume-content {
	display: none;
	visibility: hidden;
}

.section-title {
	transition: color 300ms;
	color: #BBBBBB;
}

.section-title-focused {
	transition: color 300ms;
	color: black;
}

/* Resume section-specific attributes */
#skills ul {
	text-align: left
}

.employer-date p {
	font-size: 18px;
	margin: 5px auto 0;
	display: inline-block;
	border-radius: 20%;
}

.experience-info p {
	font-size: 18px;
	text-align: left;
	padding-left: 8px;
	padding-bottom: 3px;
}

.experience-info li {
	text-align: left;
	padding-left: 20px;
	padding-bottom: 3px;
}

/* Appendable Classes */
.element-shadow {
	transition: box-shadow 300ms;
	box-shadow: 0 6px 6px -6px #888888;
}

.element-shadow-reverse {
	transition: box-shadow 300ms;
}

.line-expand {
	visibility: visible;
	transition: width 500ms;
	width: 500px;
}

.line-retract {
	visibility: visible;
	transition: width 500ms;
	width: 300px;
}

.ghost-line-retract {
	transition: width 500ms, visibility 500ms;
	width: 0px;
	visibility: hidden;
}